@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap");

@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

html,
body {
  font-family: "Tajawal", sans-serif;
  background: #f8fafc;
  color: #1c1c1c;
  direction: rtl;
}
